{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="container_grid">
    <div class="user_view">

        <p class="balance "> 
            ₦<span id="wallet_balance">{{ "{:,.2f}".format(user['wallet_balance']) }}</span>
            <i id="toggle_balance" class="fas fa-eye" style="cursor: pointer;"></i>
        </p>

        <img class="gold" src="{{ url_for('static', filename='images/gold.png') }}" alt="" style="width: 4rem; height: 3rem; margin-top: 2rem; margin-left: 1rem;">

        <p class="card_number text-center mt-2">{{ user["card_number_formatted"] }}</p>
        <br>

        <img  class="master" src="{{ url_for('static', filename='images/master.png') }}" alt="" style="width: 6rem; height: 6rem; margin-top: 3rem; margin-left: 21rem; position: absolute;">
        <br>

        <div class="valid text-center mt-5">
            <p class="text1" style="font-weight: 600; font-size: 0.8rem;">VALID &nbsp; <span class="span1" style="position: absolute; margin-top: 0.1rem; font-weight: 300; font-size: 1rem;">{{ user["card_expiry_formatted"]}}</span></p> 
            <p class="text2" style="position: absolute; margin-left: 9.7rem; margin-top: -1.3rem; font-weight: 600; font-size: 0.8rem;">THRU</p>
        </div>

        <div class="details mt-2">
            <p class="name">{{ user["first_name"] }}  &nbsp;{{ user["last_name"] }}</p>
        </div>

    </div>

    
    {% if not current_user.transaction_pin %}
    <!-- Transaction PIN Modal -->
    <div id="pinModal" class="modal" tabindex="-1" role="dialog" style="display:block; background-color: rgba(0, 0, 0, 0.749);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Set Transaction PIN</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('dashboard') }}">
                        <div class="form-group">
                            <label for="transactionPin">Transaction PIN</label>
                            <input type="password" class="form-control shadow-none" id="transactionPin" name="transaction_pin" required>
                            <br>
                        </div>
                        <div class="form-group">
                            <label for="confirmTransactionPin">Confirm PIN</label>
                            <input type="password" class="form-control shadow-none" id="confirmTransactionPin" name="confirm_pin" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="all_functions">

        
        <div class="functions">
            
            <div class="first">
                <div class="wallet">
                    <a href="{{ url_for('send_to_wallet')}}" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="{{ url_for('static', filename='images/wallet.svg') }}" alt=""> 
            </a>
            <p>To wallet</p>
                </div>
                
                <div class="bank">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/bank.svg') }}" alt=""> 
                    </a>
            <p>To Bank</p>

                </div>
                
                <div class="piggy">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/piggy.svg') }}" alt=""> 
                    </a>
            <p>To Piggy Wallet</p>
                </div>
            </div>
        </div>

        <div class="functions2">
            <div class="second ">
                <div class="airtime ">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/airtime.png') }}" alt=""> 
                    </a>
            <p>Airtime</p>

                </div>
                
                <div class="data ">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/data.svg') }}" alt=""> 
                    </a>
                    &nbsp;<p> &nbsp;&nbsp;Data</p>
                </div>
                
                <div class="tv ">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/tv.svg') }}" alt=""> 
                    </a>
                    <p>&nbsp;&nbsp;TV</p>
                </div>
        
                <div class="electricity ">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/electric.svg') }}" alt=""> 
                    </a>
                    <p>Electricity</p>
                </div>
                
                <div class="betting ">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/betting.svg') }}" alt=""> 
                    </a>
                    <p>Betting</p>
                </div>
                
                <div class="more ">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/more.svg') }}" alt=""> 
                    </a>
                    <p>&nbsp;&nbsp;More</p>
                </div>
            </div>
        </div>
        

        
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recent Transactions</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Beneficiary</button>
                </li>
                
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">One</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Two</div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>





<div class="modal applyLoanModal fade" id="applyLoan" tabindex="-1" aria-labelledby="applyLoanLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header border-bottom-0">
		  <h4 class="modal-title" id="exampleModalLabel">Where Do you Want To Send To?</h4>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
              </div>
		</div>
	  </div>
	</div>
  </div>

    <!-- Transaction history table -->
    
    <div class="container w-100 mx-auto mt-5">
        <div class="row">
            <div class="col-12 mb-3 mb-lg-5">
                <div class="position-relative card table-nowrap table-card">
                    <div class="card-header align-items-center">
                        <h5 class="mb-0">Latest Transactions</h5>
                        <p class="mb-0 small text-muted">1 Pending</p>
                    </div>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="small text-uppercase bg-body text-muted">
                                <tr>
                                    <th>Transaction Type</th>
                                    <th>Date</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transactions in transactions %}
                                    <tr>
                                        <td>
                                            {{ transactions.transaction_type }}
                                        </td>
                                        <td>{{ transactions.date }}</td>
                                        <td>{{ transactions.category }}</td>
                                        <td class="amount">
                                            <div class="d-flex align-items-center " style="">
                                                {% if transactions.transaction_type == 'Debit' and transactions.sender_account == current_user.phone_number %}
                                                    <!-- Debit Transaction -->
                                                    <span class="badge fs-6 fw-normal bg-tint-danger text-danger">Debit - </span>
                                                    <span>₦{{ "{:,.2f}".format(transactions.amount) }}</span>
                                                {% elif transactions.transaction_type == 'Credit' and transactions.receiver_account == current_user.phone_number %}
                                                    <!-- Credit Transaction -->
                                                    <span class="badge fs-6 fw-normal bg-tint-success text-success">Wallet Top-up </span>
                                                    <span>₦{{ "{:,.2f}".format(transactions.amount) }}</span>
                                                {% endif %}
                                            </div>
                                            
                                        </td>
                                        <td>
                                            <span class="badge fs-6 fw-normal bg-tint-success text-success">Success</span>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-end">
                        <a href="#!" class="btn btn-gray">View All Transactions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    

</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<style>

    .modal-backdrop.show {
            opacity: 0.8;
            background-color: black;
        }


    .container_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: space-evenly; */
    }

    .user_view{
        height: 17rem;
        width: 30rem;
        background: linear-gradient(to left, #515052, #10104d); /* Gradient background */
        border-radius: 0.9rem;
        margin-top: 3rem;
        padding-left: 1rem;
        /* padding-right: 3rem; */
        padding-top: 3rem;
    }

    .valid{
        color: #fff;
        margin-right: 7rem;
    }

    .details{
        color: #fff;
        margin-left: 1rem;

    }

    .card_number{
        color: #fff;
        margin-left: 1.5rem;
        position: absolute;
        letter-spacing: 0.7rem;
        font-weight: 700;
        
    }

    .balance{
        position: absolute;
        float: right;
        margin-left: 20rem;
        margin-top: -1rem;
        color: white;
        font-weight: 800;
        font-size: 1rem;
    }

    .functions{
        height: 7rem;
        width: 40rem;
        background: whitesmoke;
        border-radius: 0.9rem;
        margin-top: 3rem;
        padding-left: 1rem;
        padding-top: 3rem;
    }

    .functions2{
        height: 13.5rem;
        width: 40rem;
        background: whitesmoke;
        border-radius: 0.9rem;
        margin-top: 3rem;
        padding-left: 1rem;
        padding-top: 3rem;
    }

    .wallet, .bank, .piggy{
        height: 3rem;
        width: 4rem;
        /* background: rgb(167, 165, 165); */
        border-radius: 0.3rem;
        margin-top: -2rem;
    }

    .first{
        display: grid;
        gap: 50px 80px;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }

    .second{
        /* display: grid; */
        /* grid-template-columns: 
        justify-content: space-between; */
        display: grid;
        gap: 80px 80px;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        
    }

    .first img{
        width: 3rem;
    }

    .first img:hover{
        cursor: pointer;
        transform: translate(0px, -5px);
        transition: transform 0.3s ease, scale 0.3s ease; 
    }

    .second img{
        width: 3rem;
    }
    .airtime, .data, .tv, .electricity, .betting, .more{
        height: 3rem;
        width: 4rem;
        /* background: rgb(167, 165, 165); */
        border-radius: 0.3rem;
        margin-top: -2rem;
    }

    @media screen and (max-width: 576px) {

        .container_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
        .user_view{
            width: 100% !important;
            height: 13rem !important;
        }

        .container{
            display: block;
        }

        .card_number{
            letter-spacing: 0.3rem;
        }

        .balance{
            margin-left: 14rem;
        }

        .gold{
            width: 3rem !important;
            height: 2.5rem !important;
            margin-top: 1rem !important;
        }

        .master{
            width: 4rem !important;
            height: 4rem !important;
            margin-top: 2rem !important;
            margin-left: 17rem !important;
        }

        

        .valid .text1{
            margin-left: 6.5rem;
            font-size: 3rem;
        }

        .valid{
            margin-right: 7rem;
            margin-top: 1rem !important;
        }

        .text1{
            font-size: 0.6rem !important;
            margin-top: 2rem !important;
        }

        .span1{
            font-size: 0.7rem !important;
            margin-top: 0.3rem !important;
        }

        .text2{
            font-size: 0.6rem !important;
            margin-left: 10rem !important;
        }

        .details{
            position: absolute;
            margin-top: -0.7rem !important;
        }
        
        .name{
            font-size: 0.9rem !important;
        }

        .functions{
            width: 100% !important;
        }

        .functions2{
            width: 100% !important;
        }

        .first{
            gap: 40px 70px;
        }

        .second{
            gap: 80px 80px;
        }

        .more,  .tv{
            /* margin-left: -2rem !important; */
        }

    }




.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
    white-space: nowrap;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}

table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}

.fa-arrow-up {
    color: #00CED1;
}

.fa-arrow-down {
    color: #FF00FF;
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleBalance = document.getElementById('toggle_balance');
        const walletBalance = document.getElementById('wallet_balance');
        let balanceVisible = true;
        const originalBalance = '{{ user["wallet_balance"] }}';
        const formattedBalance = parseFloat(originalBalance).toLocaleString();

        toggleBalance.addEventListener('click', function() {
            if (balanceVisible) {
                walletBalance.textContent = '******';
                toggleBalance.classList.remove('fa-eye');
                toggleBalance.classList.add('fa-eye-slash');
            } else {
                walletBalance.textContent = formattedBalance;
                toggleBalance.classList.remove('fa-eye-slash');
                toggleBalance.classList.add('fa-eye');
            }
            balanceVisible = !balanceVisible;
        });
    });
</script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#pinForm').on('submit', function(e) {
            e.preventDefault(); // Prevent the form from submitting the traditional way

            var transactionPin = $('#transactionPin').val();
            var confirmPin = $('#confirmTransactionPin').val();

            if (transactionPin === confirmPin) {
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("dashboard") }}',
                    data: {
                        transaction_pin: transactionPin,
                        confirm_pin: confirmPin
                    },
                    success: function(response) {
                        // Hide the modal if the PINs match and the server responds successfully
                        $('#pinModal').modal('hide');
                    },
                    error: function() {
                        alert('There was an error setting the PIN.');
                    }
                });
            } else {
                alert('Transaction PINs do not match!');
            }
        });

        // Automatically show the modal when the page loads
        $('#pinModal').modal({
            backdrop: 'static',  // Disallow closing the modal by clicking outside of it
            keyboard: false      // Disallow closing the modal with the keyboard
        });
    });
</script>

{% endblock %}


<!-- <h2>{{ user['first_name'] }}</h2>
        <br>
        <h3>Account Balance:</h3>
        <h3> 
            ₦<span id="wallet_balance">{{ "{:,.2f}".format(user['wallet_balance']) }}</span>
            <i id="toggle_balance" class="fas fa-eye" style="cursor: pointer;"></i>
        </h3> -->