{% extends "layout.html" %}

{% block content %}

<div class="container all">
    <div class="container_grid">
    <div class="user_view">

        <p class="balance "> 
            ₦<span id="wallet_balance">{{ "{:,.2f}".format(user['wallet_balance']) }}</span>
            <i id="toggle_balance" class="fas fa-eye" style="cursor: pointer;"></i>
        </p>

        <img class="gold" src="{{ url_for('static', filename='images/gold.png') }}" alt="" style="width: 4rem; height: 3rem; margin-top: 2rem; margin-left: 1rem;">

        <p class="card_number text-center mt-2">{{ user["card_number_formatted"] }}</p>
        <br>

        <img  class="master" src="{{ url_for('static', filename='images/master.png') }}" alt="" >
        <br>

        <div class="valid text-center mt-5">
            <p class="text1" style="font-weight: 600; font-size: 0.8rem;">VALID &nbsp; <span class="span1" style="position: absolute; margin-top: 0.1rem; font-weight: 300; font-size: 1rem;">{{ user["card_expiry_formatted"]}}</span></p> 
            <p class="text2" >THRU</p>
        </div>

        <div class="details mt-2">
            <p class="name">{{ user["first_name"] }}  &nbsp;{{ user["last_name"] }}</p>
        </div>

    </div>

    
    {% if not current_user.transaction_pin %}
    <!-- Transaction PIN Modal -->
    <div id="pinModal" class="modal" tabindex="-1" role="dialog" style="display:block; background-color: rgba(0, 0, 0, 0.749);">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Set Transaction PIN</h5>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('dashboard') }}">
                        <div class="form-group">
                            <label for="transactionPin">Transaction PIN</label>
                            <input type="password" class="form-control shadow-none" id="transactionPin" name="transaction_pin" required>
                            <br>
                        </div>
                        <div class="form-group">
                            <label for="confirmTransactionPin">Confirm PIN</label>
                            <input type="password" class="form-control shadow-none" id="confirmTransactionPin" name="confirm_pin" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="all_functions">

        
        <div class="functions">
            
            <div class="first">
                <div class="wallet wallet_img">
                    <!-- data-bs-toggle="modal" data-bs-target="#exampleModal" -->
                    <a href="{{ url_for('send_to_wallet')}}" >
                <img class=""  src="{{ url_for('static', filename='images/wallet.svg') }}" alt=""> 
            </a>
            <p class="to_wallet">To wallet</p>
                </div>
                
                <div class="bank bank_img">
                    <a href="">
                        <img class="" src="{{ url_for('static', filename='images/bank.svg') }}" alt=""> 
                    </a>
            <p class="to_bank">To Bank</p>

                </div>
                
                <div class="piggy piggy_img">
                    <a href="#">
                        <img class=""  src="{{ url_for('static', filename='images/piggy.svg') }}" alt=""> 
                    </a>
            <p class="to_piggy">Piggy Wallet</p>
                </div>
            </div>
        </div>

        <div class="functions2">
            <div class="second ">
                <div class="airtime airtime_img">
                    <a href="#">
                        <img  src="{{ url_for('static', filename='images/airtime.svg') }}" alt=""> 
                    </a>
            <p class="to_airtime">Airtime</p>

                </div>
                
                <div class="data  data_img">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/data.svg') }}" alt=""> 
                    </a>
                    &nbsp;<p class="to_data"> &nbsp;&nbsp;Data</p>
                </div>
                
                <div class="tv tv_img">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/tv.svg') }}" alt=""> 
                    </a>
                    <p class="to_tv">&nbsp;&nbsp;TV</p>
                </div>
        
                <div class="electricity electricity_img">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/electricity.svg') }}" alt=""> 
                    </a>
                    <p class="to_electricity">Electricity</p>
                </div>
                
                <div class="betting betting_img">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/betting.svg') }}" alt=""> 
                    </a>
                    <p class="to_betting">Betting</p>
                </div>
                
                <div class="more more_img">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/more.svg') }}" alt=""> 
                    </a>
                    <p class="to_more">&nbsp;&nbsp;More</p>
                </div>
            </div>
        </div>
        

        
    </div>
</div>





<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Recent Transactions</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Beneficiary</button>
                </li>
                
              </ul>
              <div class="tab-content" id="pills-tabContent">
                {% for recent in last_five %}
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <img src="" alt=""> <span>{{ recent.receiver }}</span> &nbsp; &nbsp; <span> {{ recent.receiver_account }}</span>
                </div>
                {% endfor %}
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Two</div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div> -->





<div class="modal applyLoanModal fade money_modal" id="applyLoan" tabindex="-1" aria-labelledby="applyLoanLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header border-bottom-0">
		  <h4 class="modal-title" id="exampleModalLabel">Where Do you Want To Send To?</h4>
		  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div class="modal-body money_modal2">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Home</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">...</div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
              </div>
		</div>
	  </div>
	</div>
  </div>

   <!-- Transaction history table -->
<div class="container w-100 mx-auto mt-5">
    <div class="row">
        <div class="col-12 mb-3 mb-lg-5">
            <div class="position-relative card table-nowrap table-card">
                <div class="card-header align-items-center">
                    <h5 class="mb-0">Latest Transactions</h5>
                </div>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead class="small text-uppercase bg-body text-muted">
                            <tr>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Session ID</th>
                                <th>Reference ID</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr class="">
                                <td>
                                    <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-dark links">
                                        {{ transaction.transaction_type }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-dark">
                                        {{ transaction.date }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-dark">
                                        {{ transaction.bank_name }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-dark">
                                        {{ transaction.transaction_ref }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-dark">
                                        {{ transaction.session_id }}
                                    </a>
                                </td>
                                <td class="amount">
                                    <div class="d-flex align-items-center">
                                        {% if transaction.transaction_type == 'Debit' and transaction.sender_account == current_user.phone_number %}
                                        <!-- Debit Transaction -->
                                        <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-danger">
                                            - ₦{{ "{:,.2f}".format(transaction.amount) }}
                                        </a>
                                        {% elif transaction.transaction_type == 'Credit' and transaction.receiver_account == current_user.phone_number %}
                                        <!-- Credit Transaction -->
                                        <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-success">
                                            + ₦{{ "{:,.2f}".format(transaction.amount) }}
                                        </a>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <a href="{{ url_for('view_receipt', receipt_id=transaction.id)}}" class="text-decoration-none text-success">
                                        Success
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-end">
                    <a href="#!" class="btn btn-gray">View All Transactions</a>
                </div>
            </div>
        </div>
    </div>
</div>

    

</div>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<style>
    /* Base styling for table rows */
    .table tbody tr {
        transition: background-color 0.3s ease;
    }

    /* Hover effect */
    .table tbody tr:hover {
        background-color: #f5f5f5; /* Light grey background on hover */
    }
</style>


<style>

    .modal-backdrop.show {
            opacity: 0.8;
            background-color: black;
        }


    .container_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* justify-content: space-evenly; */
    }

    .user_view{
        height: 17rem;
        width: 30rem;
        background: linear-gradient(to left, #515052, #10104d); /* Gradient background */
        border-radius: 0.9rem;
        margin-top: 3rem;
        padding-left: 1rem;
        /* padding-right: 3rem; */
        padding-top: 3rem;
    }

    .valid{
        color: #fff;
        margin-right: 7rem;
    }

    .details{
        color: #fff;
        margin-left: 1rem;

    }

    .card_number{
        color: #fff;
        margin-left: 1.5rem;
        position: absolute;
        letter-spacing: 0.7rem;
        font-weight: 700;
        
    }

    .balance{
        position: absolute;
        float: right;
        margin-left: 20rem;
        margin-top: -1rem;
        color: white;
        font-weight: 800;
        font-size: 1rem;
    }

    .functions{
        height: 7rem;
        width: 40rem;
        background: whitesmoke;
        border-radius: 0.9rem;
        margin-top: 3rem;
        padding-left: 1rem;
        padding-top: 3rem;
    }

    .functions2{
        height: 13.5rem;
        width: 40rem;
        background: whitesmoke;
        border-radius: 0.9rem;
        margin-top: 3rem;
        padding-left: 1rem;
        padding-top: 3rem;
    }

    .wallet, .bank, .piggy{
        height: 3rem;
        width: 4rem;
        /* background: rgb(167, 165, 165); */
        border-radius: 0.3rem;
        margin-top: -2rem;
    }

    .first{
        display: grid;
        gap: 50px 80px;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
    }

    .second{
        /* display: grid; */
        /* grid-template-columns: 
        justify-content: space-between; */
        display: grid;
        gap: 80px 80px;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;
        
    }

    .first img{
        width: 3rem;
    }

    .first img:hover{
        cursor: pointer;
        transform: translate(0px, -5px);
        transition: transform 0.3s ease, scale 0.3s ease; 
    }

    .second img{
        width: 3rem;
    }
    .airtime, .data, .tv, .electricity, .betting, .more{
        height: 3rem;
        width: 4rem;
        /* background: rgb(167, 165, 165); */
        border-radius: 0.3rem;
        margin-top: -2rem;
    }

    .master{
        position: relative;
        width: 5rem;
        height: 5rem;
        margin-top: 4rem;
        /* margin-left: 17rem; */
        float: right;
        margin-right: 1rem;
    }

    .text2{
        margin-bottom: 1rem;
        font-size: 0.8rem;
        margin-top: -1.3rem;
    }

    .valid{
        margin-top: 2.5rem !important;
    }

    @media screen and (max-width: 576px) {

        .container_grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .valid{
        margin-top: 2rem !important;
    }

    .text1, .text2, .span1{
        font-size: 0.8rem;
    }

    .text1{
        margin-left: 5rem !important;
    }

    .text2{
        position: absolute !important;
        margin-left: -5rem !important;
        font-size: 2rem !important;
    }

        .user_view{
            width: 100% !important;
            height: 13rem !important;
            /* border: 1px solid green; */
        }

        .balance{
            font-size: 0.8rem;
            margin-left: 14rem;
        }

        .details{
            font-size: 0.8rem;
        }

        .container{
            display: block;
            /* border: 1px solid red; */
        }

        .card_number{
            letter-spacing: 0.3rem;
        }

        

        .gold{
            width: 3rem !important;
            height: 2.5rem !important;
            margin-top: 1rem !important;
        }

        .master{
            position: relative !important;
            width: 3.5rem !important;
            height: 3.5rem !important;
            margin-top: 2.5rem !important;
            /* margin-left: 17rem !important; */
            
        }

        

        .valid .text1{
            margin-left: 4.7rem !important;
            font-size: 3rem;
        }

        .valid{
            margin-right: 7rem;
            margin-top: 1rem !important;
        }

        .text1{
            font-size: 0.6rem !important;
            margin-top: 2rem !important;
        }

        .span1{
            font-size: 0.7rem !important;
            margin-top: 0.3rem !important;
        }

        .text2{
            font-size: 0.6rem !important;
            margin-left: 8.1rem !important;
        }

        .details{
            position: absolute;
            margin-top: -0.7rem !important;
        }
        
        .name{
            font-size: 0.9rem !important;
        }

        .functions{
            width: 100% !important;
        }

        .functions2{
            width: 100% !important;
        }

        .first{
            gap: 40px 70px;
        }

        .second{
            gap: 80px 80px;
        }

       .rows{
        background-color: #10104d;
       }

       .all{
        display: block;

       }

       .container_grid{
        display: block;
       }

       .wallet_img, .bank_img, .piggy_img {
        height: 2rem !important;
        width: 2rem !important;
        font-size: 2rem !important;
        /* margin-top: 2rem !important; */
       }

       .to_wallet, .to_bank, .to_piggy {
        font-size: 0.7rem !important;
        padding: 0;
        /* border: 1px solid black; */
        width: 5rem !important;
        margin-right: 3rem !important;
       }

       .to_piggy{
        /* padding-right: 2rem !important; */
        margin-left: -1rem !important;
       }

       .bank_img{
        margin-left: -1.3rem !important;
       }

       .piggy_img{
        margin-left: -0.8rem !important;
       }

       .wallet_img{
        margin-left: -0.8rem !important;
       }

       .to_wallet, .to_bank{
        margin-left: -5px !important;
        
       }
       .functions, .functions2{
        background: none;
        
       }

       .functions2{
        padding-right: 1rem !important;
        margin-top: -5px !important;
       }

       .to_airtime, .to_data, .to_tv, .to_electricity, .to_betting, .to_more{
           font-size: 0.7rem !important;
       }

       .airtime_img, .data_img, .tv_img, .electricity_img, .betting_img, .more_img{
        height: 2rem !important;
        width: 2rem !important;
        font-size: 2rem !important;
       }

       .to_data{
        margin-top: -3rem !important;
        margin-left: -0.2rem !important;
       }

       .money_modal2{
        width: 25% !important;
        font-size: 0.8rem !important;
        border: 2px solid red;
       }

       
    }




.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
    white-space: nowrap;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}

table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}

.fa-arrow-up {
    color: #00CED1;
}

.fa-arrow-down {
    color: #FF00FF;
}

.links:hover{
    background-color: rgb(176, 241, 241);
}
</style>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleBalance = document.getElementById('toggle_balance');
        const walletBalance = document.getElementById('wallet_balance');
        let balanceVisible = true;
        const originalBalance = '{{ user["wallet_balance"] }}';
        const formattedBalance = parseFloat(originalBalance).toLocaleString();

        toggleBalance.addEventListener('click', function() {
            if (balanceVisible) {
                walletBalance.textContent = '******';
                toggleBalance.classList.remove('fa-eye');
                toggleBalance.classList.add('fa-eye-slash');
            } else {
                walletBalance.textContent = formattedBalance;
                toggleBalance.classList.remove('fa-eye-slash');
                toggleBalance.classList.add('fa-eye');
            }
            balanceVisible = !balanceVisible;
        });
    });
</script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script>
    $(document).ready(function() {
        $('#pinForm').on('submit', function(e) {
            e.preventDefault(); // Prevent the form from submitting the traditional way

            var transactionPin = $('#transactionPin').val();
            var confirmPin = $('#confirmTransactionPin').val();

            if (transactionPin === confirmPin) {
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("dashboard") }}',
                    data: {
                        transaction_pin: transactionPin,
                        confirm_pin: confirmPin
                    },
                    success: function(response) {
                        // Hide the modal if the PINs match and the server responds successfully
                        $('#pinModal').modal('hide');
                    },
                    error: function() {
                        alert('There was an error setting the PIN.');
                    }
                });
            } else {
                alert('Transaction PINs do not match!');
            }
        });

        // Automatically show the modal when the page loads
        $('#pinModal').modal({
            backdrop: 'static',  // Disallow closing the modal by clicking outside of it
            keyboard: false      // Disallow closing the modal with the keyboard
        });
    });
</script>

{% endblock %}


<!-- <h2>{{ user['first_name'] }}</h2>
        <br>
        <h3>Account Balance:</h3>
        <h3> 
            ₦<span id="wallet_balance">{{ "{:,.2f}".format(user['wallet_balance']) }}</span>
            <i id="toggle_balance" class="fas fa-eye" style="cursor: pointer;"></i>
        </h3> -->