<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en-us">

<head>
	<meta charset="utf-8">
	<title>Wallet - Payday Loan Service Template</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
	<meta name="description" content="This is meta description">
	<meta name="author" content="Themefisher">
	<link rel="shortcut icon" href="{{ url_for('static', filename='css/images/favicon.png')}}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='css/images/favicon.png')}}" type="image/x-icon">
  
  <!-- theme meta -->
  <meta name="theme-name" content="wallet" />

	<!-- # Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- # CSS Plugins -->
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/slick/slick.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/fontawesome.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/brands.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='plugins/font-awesome/solid.css')}}">

	<!-- # Main Style Sheet -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<!-- navigation -->
<header class="navigation bg-tertiary">
	<nav class="navbar navbar-expand-xl navbar-light text-center py-3">
		<div class="container">
			{% if current_user.is_authenticated %}
			<a class="navbar-brand" href="{{ url_for('dashboard')}}">
			{% else %}
			<a class="navbar-brand" href="{{ url_for('index')}}">
			{% endif %}
				<img loading="prelaod" decoding="async" class="img-fluid" width="160" src="{{ url_for('static', filename='images/logo.png')}}" alt="Wallet">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
					{% if current_user.is_authenticated %}
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('dashboard')}}"><i class="fa-solid fa-house"></i>  Home</a>
						<li class="nav-item"> <a class="nav-link" href="{{ url_for('dashboard')}}">Send Money</a>
							<li class="nav-item"> <a class="nav-link" href="{{ url_for('dashboard')}}">My Card</a>
							<li class="nav-item"> <a class="nav-link" href="{{ url_for('dashboard')}}">Invest</a>
					<li class="nav-item "> <a class="nav-link" href="contact.html">Contact</a></li>
					<li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Pages</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item " href="faq.html">FAQ&#39;s</a>
							</li>
							<li><a class="dropdown-item " href="legal.html">Legal</a>
							</li>
							<li><a class="dropdown-item " href="terms.html">Terms &amp; Condition</a>
							</li>
							<li><a class="dropdown-item " href="privacy-policy.html">Privacy &amp; Policy</a>
							</li>
						</ul>
					</li>
					{% else %}
					<li class="nav-item"> <a class="nav-link" href="{{ url_for('index')}}">Home</a>
						<li class="nav-item "> <a class="nav-link" href="about.html">About</a>
						</li>
						<li class="nav-item "> <a class="nav-link" href="how-it-works.html">How It Works</a>
						</li>
						<li class="nav-item "> <a class="nav-link" href="services.html">Services</a>
						</li>
				
					{% endif %}
				</ul>
				{% if current_user.is_authenticated %}
					<a class="btn btn-primary" href="{{ url_for('logout') }}" style="border: none; background-color: crimson;">Logout</a>
				{% endif %}
				<!-- <!account btn <a href="#!" class="btn btn-outline-primary">Log In</a> -->
        <!-- <a type="button" class="btn btn-primary" href="#" data-bs-toggle="modal" data-bs-target="#applyLoan">Log In</a> -->
			</div>
		</div>
	</nav>
</header>
<!-- /navigation -->
<br>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}


{% block content %} {% endblock %}


<!-- # JS Plugins -->
<script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/slick/slick.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/scrollmenu/scrollmenu.min.js') }}"></script>

<!-- Main Script -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
