{% extends "layout.html" %}


{% block content %}
    <div class="container">
        <div class="content border">
            <h1 class="text-center">Receipt</h1>
            <h3 class="text-center">{{ amount }}</h3>
            <h1 class="text-center">SUCCESS <i class="fas fa-check-circle text-success"></i></h1>
            <p>{{ transaction_type }}</p>
            <p>{{ sender }}</p>
            <p>{{ receiver }}</p>
            <p>{{ transaction_ref }}</p>
            <p>{{ session_id }}</p>
            <p>{{ bank_name }}</p>
            <p>{{ date }}</p>
            <p>{{ sender_account }}</p>
            <p>{{ receiver_account }}</p>

            


        </div>
    </div>
{% endblock %}