{% extends "layout.html" %}


{% block content %}
<div class="container w-100 mt-4  mb-5">
    <h1 class="text-center text-success ">₦{{ amount }}</h1>
    <h1 class="text-center success">SUCCESS <i class="fas fa-check-circle text-success"></i></h1>
    <p class="text-center date">{{ date }}</p>
        <hr class="w-50 mx-auto line">
        <div class="content w-50 mx-auto ">
            <div class="type mx-auto">
                <p>Transaction Type</p>
                <p style="font-weight: 900;">{{ bank_name }}</p>
            </div>
            

            <div class="receiver  mx-auto" >
                <p>Recipient Details</p>
                
                    <div>
                        <p style="font-weight: 900;"> {{ receiver }}</p>
                        <p style="font-size: 1rem;">{{ bank_name }} | {{ receiver_account }}</p>
                    </div>
                
            </div>
            

            <div class="sender">
                <p>Sender Details</p>
                <div>
                    <p style="font-weight: 900; ">{{ sender }}</p>
                    <p style="font-size: 1rem; ">{{ bank_name }} | {{ sender_account }}</p>
                </div>
            </div>
            

            <div class="remark">
                <p>Remark</p>
                <p style="font-size: 1rem;">{{ narration }}</p>
            </div>
            
            <div class="ref">
                <p>Transaction Reference</p>
                <p style="font-size: 1rem; ">{{ transaction_ref }}</p>
            </div>

            <div class="session">
                <p>Session ID</p>
                <p style="font-size: 1rem; ">{{ session_id }}</p>
            </div>


            <div class="footer text-center">
                <!-- <div class="text-center"> -->
                    <p class="contact">Contact</p>
                    <span ><a class="mb-5" style="margin-bottom: 2rem;"  href="#">ng-support@Wallet-inc.com</a></span>
                
                <p style="font-size: 1rem;">
                    Enjoy a better life with wallet. Get free transfers, withdrawals, free bill payments. Instant loans and up to 15% interest. on savings.
                    Opay is licenced by the Central Bank of Nigeria and insured by the NDIC.
                </p>
            </div>


        </div>
    </div>


    <style>
        .type, .remark, .ref, .session {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;
        }

        .receiver, .sender {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 3rem;
            
        }

        p{
            padding-left: 2rem;
        }

        .date {
            font-size: 1.2rem;
            font-weight: 600;
        }

        a span{
            text-decoration: none;
            color: purple;
        }


        @media screen and (max-width: 576px) {

            .container{
                /* border: 1px solid black; */

            }

            .content{
                /* border: 1px solid black; */
                width: 100% !important;
            }

            p{
                font-size: 0.8rem !important;
            }

            h1{
                font-size: 1.5rem !important;
            }

            .success{
                font-size: 1rem !important;
            }

            .line{
                width: 100% !important;
            }

            .contact{
                font-size: 1rem !important;
                font-weight: bold;
                margin-top: 1rem !important;
            }

            span{
                margin-top: -1rem !important;
            }
        }

        
    </style>
{% endblock %}